[submodule "toddlerbot/actuation/sunny_sky/knee_esc"]
	path = toddlerbot/actuation/sunny_sky/knee_esc
	url = git@github.com:weizhuowang/knee_esc.git
[submodule "toddlerbot/brax"]
	path = toddlerbot/brax
	url = git@github.com:hshi74/brax.git
