[submodule "toddlerbot/control/sunny_sky/knee_esc"]
	path = toddlerbot/control/sunny_sky/knee_esc
	url = git@github.com:weizhuowang/knee_esc.git
[submodule "toddlerbot/sim/humanoid_gym"]
	path = toddlerbot/sim/humanoid_gym
	url = git@github.com:hshi74/humanoid-gym.git
